body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  .container {
    background-color: white;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 12px;
    width: 80%;
    max-width: 600px;
    max-height: 800px;
    height: 40%;
  }

  .dash-container {
    font-size: 12px;
    color: black;
  }

  .dash-row {
    display: flex;
    align-items: center;
  }

  .dash {
    width: 10px;
    height: 5px;
    background-color: purple;
    margin-right: 10px;
  }

  .dash:nth-child(1) {
    margin-left: 12px;
  }
  .horizontal-line {
    width: calc(100% - 24px); /* 12 pixels on each side */
    margin: 0 auto; /* Center the line horizontally */
    border-top: 0.5px solid grey; /* 1 pixel solid black line */
  }

  .text {
    margin-right: 10px;
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
  }

  .input-container > div {
    flex: 1; /* Allow items to grow and shrink */
    padding: 12px;
    min-width: 0;
  }

  input {
    height: 30px;
    width: 80px;
    font-family: "Poppins-Bold";
    font-size: 20px;
    color: grey;
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 5px;
  }
  h1 {
    font-family: "Poppins-Bold"; /* Set font to Poppins-Bold */
    font-size: 8px; /* Set font size to 8 pixels */
    color: grey; /* Set text color to grey */
    margin-right: 10px;
  }
  h2 {
    font-family: "Poppins-Bold";
    font-size: 30px;
  }
  button {
    position: absolute;
    bottom: 280px; /* Adjust this value as needed */
    right: 0;
    background-color: aliceblue;
    border-radius: 20%;
  }